{# templates/accueil/categories.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<section id="categories-section" class="categories-section">
  <div class="categories-container">
    {% for category in categories %}
    <div class="category">
        <a href="#">
        <img src="{{ asset('img/category/' ~ category.image) }}" alt="{{ category.libelle }}">
        <p>{{ category.libelle }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
