{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="premier">
    <div class="overlay"></div>
    <section>
        <div class="search-container">
            <form method="GET" action="{{ path('demande_search') }}">
                <input type="text" name="query" placeholder="Recherche...">
                <button type="submit">Rechercher</button>
            </form>
        </div>
    </section>

    <video playsinline autoplay muted loop>
    <source src="{{ asset('videos/1restaurant.mp4') }}" type="video/mp4">
    Votre navigateur ne supporte pas les vidéos.
    </video>

    <div class="container h-100 d-flex flex-column justify-content-center align-items-center ">
       <h1>Bienvenue dans notre restaurant!</h1>
        <a href="{{ path('categories') }}" class="btn btn-primary">Voir les catégories</a>

    </div>
    
</section>


{% endblock %}
